body {
  font-family: sans-serif;
  color: #444;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #dadada;
  justify-items: center;
  align-items: center;
}
.content-item.graph {
  grid-column-start: span 2;
  padding: 1em;
}