body {
  font-family: sans-serif;
  color: #444;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #dadada;
  justify-items: center;
  align-items: center;
}
.content-item.graph {
  grid-column-start: span 2;
  padding: 1em;
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}
.grid .tick line {
  opacity: 0.4;
}
.grid path {
  stroke-width: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-date, .tooltip-likes {
  font-weight: bold;
}